<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat app</title>
</head>
<body>
    Chatting
    <input type="text" id="message">
    <button class="sendbtn">Send Message</button>
    <div id ='messaged'></div>
    <script src="/socket.io/socket.io.js"></script>
    <script>


        const socket = io();
        
        
        const sendBTN=document.querySelector('.sendbtn');
        const display=document.getElementById('messaged');
        socket.on('message',(message)=>{
            const h1=document.createElement('h1');
            h1.textContent= message;
            display.append(h1);
            console.log(message);
            
        })
        const userName = prompt('Enter Your Name');
        socket.emit('adduser', {'username':userName});
        sendBTN.addEventListener("click",()=>{
            const messageInput=document.getElementById('message').value;
                socket.emit('user-message',messageInput)
        })
        
                
        
    </script>
</body>
</html>